.o_list_view.table td {
   border-left: 1px solid #f8f9fa;
   border-right: 1px solid #f8f9fa;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   border-collapse: collapse;
}

.text-danger {
   border: 1px solid red !important;
   color: #dc3545 !important;
}